.Modal
  display: none;

  &.Modal--visible
    display: block;

  .Modal-overlay
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(#000, 0.9);

  .Modal-content
    display: inline-block;
    background: white;
    margin: 0 auto;
    position: relative;
    z-index: 2;

    .Modal-close
      cursor: pointer;
      float: right;
      padding: 5px;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 10;
