.Modal
  display: none;

  &.Modal--visible
    display: block;

  .Modal-overlay
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(#000, 0.9);

  .Modal-close
    position: absolute
    cursor: pointer;
    right: 10px;
    top: 10px;
    font-size: 30px
    color: white

  .Modal-content
    margin: 0 auto;
    position: relative;
    z-index: 2;
