@import "~app-components/variables.styl"

.Billboard
  margin: $vertical-spacing auto

  &.desktop
    display: block

  &.mobile
    display: none

  img
    object-fit: cover

  &.left
    float: left

  &.right
    float: right
    // clear: both

  &.left, &.right
    img
      max-width: 100%

  // default
  &.wide
    width: 100%

  &.single
    width: calc(50% - 10px)
    margin: 0

  &.double
    background: $yellow
    overflow: hidden

    img
      vertical-align: top;
      width: calc(50% - 25px);
      //object-fit: cover

      &:first-of-type
        margin-right: 50px;
