@import "~app-components/variables.styl"

.Taplist
  float: left
  border-collapse: collapse
  width: calc(100% - 20px)

  tbody
    tr:nth-child(2n)
      th, td
        background: #f6f6f6

  th, td
    $padding = 10px
    padding: $padding
    border-bottom: 1px solid $black

    &.right
      text-align: right
    &.brand, &.style
      text-align: left
      overflow: hidden
      white-space: nowrap
      text-overflow: ellipsis
    &.brand
      max-width: 270px
    &.style
      max-width: 165px
    &.price
      padding-right: 0
      padding-left: 25px

    &:first-child
      padding-left: 5px

    &:last-child
      padding-right: 5px

  thead th
    border: none
    font-size: 16px
    vertical-align: baseline

    &.price
      padding: 0
