.icon-tripadvisor:before { content: '\e800'; } /* '' */
.icon-facebook-1:before { content: '\e803'; } /* '' */
.icon-gplus-1:before { content: '\e804'; } /* '' */
.icon-instagram:before { content: '\e805'; } /* '' */
.icon-pinterest-1:before { content: '\e806'; } /* '' */
.icon-untappd:before { content: '\e807'; } /* '' */
.icon-zomato:before { content: '\e808'; } /* '' */
