.BarMenu
  display: flex;

  .BarMenu-left
    flex: 0 0 50%;
    text-align: center;

    img
      height: auto;
      max-width: 100%;
      vertical-align: top;

  .BarMenu-right
    flex: 0 0 50%;
    padding-left: 15px;

    h2
      margin-top: 0;
