.BarTaps
  display: flex;

  .BarTaps-right
    flex: 0 0 50%;
    text-align: center;

    img
      height: auto;
      max-width: 100%;
      vertical-align: top;

  .BarTaps-left
    flex: 0 0 50%;

    &>div
      padding-right: 15px;

    h2
      margin-top: 0;
