.Shop
  .Shop-title
    margin: 20px 0;
    font-size: 160%;
    font-weight: bold;
    background: transparent center repeat-x;
    background-image: url("~app-assets/images/schedule.svg"); // TODO: Change this :)

    span
      background: white;
      padding-right: 10px;

  .Shop-photos
    display: flex;
    justify-content: space-between;

    .Shop-photo
      &:not(:first-child)
        margin-left: 25px;

      &>img
        height: auto;
        max-width: 100%;
