@import "../variables.styl"

.Disclaimer
  background: url("../../assets/images/wood.jpg") no-repeat center center
  background-size: cover
  height: 100%
  display: flex
  flex-direction column
  align-items: center
  justify-content: center
  color: $white;

  h1
    height: 350px
    width: 100%
    margin: 0 0 50px
    background: url("../../assets/images/logo-big-stroke.png") no-repeat center center
    background-size: contain
    text-indent: -99999px
    text-align: center

  .Disclaimer-question
    background: rgba(0, 0, 0, 0.5)
    height: 100px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: 100%
    margin: 0 auto

  .Disclaimer-options
    text-align: center

    a
      color: $white;
      margin: 0 5px

      &:hover, &:active
        color: $black;
