@import "../variables.styl"

*, *:after, *:before
  box-sizing: border-box

html, body
  width: 100vw
  height: 100vh
  padding: 0
  margin: 0
  background: $black

#app
  width: 100%
  height: 100%
  margin: 0 auto
  background: $black
  color: $white

  .App
    width: 1280px
    position: relative
    width: 100%
    min-height: 100%
    padding-bottom: $footer-height // must be equal to the height of the footer!

    .hide
      display: none;

  a, a:link, a:active, a:visited
    color: $white
    text-decoration: none

  a:hover
    color: $yellow
