@import "../variables.styl"

*, *:after, *:before
  box-sizing: border-box

html, body
  width: 100vw
  height: 100vh
  padding: 0
  margin: 0
  background: $white;
  overflow-x: hidden;

#app
  width: 1440px
  height: 100%
  margin: 0 auto
  background: $white
  color: $black

  .App
    width: 1280px
    position: relative
    width: 100%
    min-height: 100%
    padding-bottom: $footer-height // must be equal to the height of the footer!

    .hide
      display: none;

a, a:link, a:active, a:visited
  color: $black
  text-decoration: none

a.no-hover:hover
  color: $black
