.Header
  width: 100%

  h1
    margin-top: 0;

  h1, h2
    text-align: center

  .Header-menu
    text-align: center
    list-style: none

  .Header-menu-item
    display: inline-block
    margin: 20px


