@import "../variables.styl"

.Header
  width: 100%
  margin: 0 auto
  padding: 40px 0 10px
  font-family: hagin
  background: $white;

  .logo
    width: 600px
    display: inline-block

  h1
    height: 75px
    width: 100%;
    margin-top: 0;
    background: url("../../assets/images/logo-big.png") no-repeat center center
    background-size: contain
    text-indent: -99999px
    text-align: center

  .Header-menu
    width: 100%;
    text-align: center
    list-style: none
    padding-left: 0;
    color: $black
    background: $yellow

  .Header-menu-item
    display: inline-block
    width: 25%
    margin: 10px 0
    font-size: 32px
    text-align: center

    > a
      width: 100%

    .active
      border-bottom: 2px solid $yellow

