@import "../variables.styl"

@media screen and (max-width: 980px)
  #app
    width: 100vw
    overflow-x: hidden

    .section
      display: block

    .App
      width: 100%
      padding: 0

    //------------------------------------------------------------------------- Lightbox
    .Lightbox
      width: 100vw
      height: 100vh

      .left, .right
        display: none

      .guide
        width: calc(100% - 20px)
        left: 10px

    //------------------------------------------------------------------------- FloatingMenu
    .FloatingMenu
      display: none
      width: 100%

      .FloatingMenuItem
        width: 30%

        &.events
          display: none

        .desktop
          display: none
        .mobile
          display: inline

    //------------------------------------------------------------------------- Header
    .Header
      h1
        height: 90px
        margin-bottom: 30px
        background-size: contain

      .Header-menu
        height: $header-height-mobile
        line-height: @height

      .Header-menu-item
        width: 30%
        font-size: 16px
        height: $header-height-mobile

        &.events
          display: none

        .desktop
          display: none
        .mobile
          display: inline

      .LanguageSelector
        bottom: ($header-height-mobile + 20px)
        right: 5px

        button
          font-size: 14px

    //------------------------------------------------------------------------- Events
    .Events
      display: none

    //------------------------------------------------------------------------- Tagline
    .Tagline
      display: block
      margin: 30px 0

      .Tagline-header
        display: block
        text-align: center
        font-size: 28px

      .Tagline-section
        margin: 10px

    //------------------------------------------------------------------------- Billboard
    .Billboard
      width: 100%
      margin-top: 10px

      &.left, &.right
        float: none
        display: block
        width: 100%

        height: 200px

      &.desktop
        display: none
      &.mobile
        display: block

      img
        width: 100%
        max-height: @height

        object-fit: cover
        object-position: center top

    //------------------------------------------------------------------------- Clippings
    .Clippings
      display: none

    //------------------------------------------------------------------------- Gallery
    .Gallery
      margin: 30px 0 15px

    //------------------------------------------------------------------------- Clearfix
    .Clearfix
      width: 100%
      margin: 0

      .section-header
        margin: 0
        text-align: center

    .section
      display: block

    .section-bottles
      h1
        padding: 0
      a
        display: block
        margin: 40px 30px 0
        text-align: center

      .Paragraph
        margin: 0
        padding: 20px 30px 40px

    .section-taps
      margin-top: 40px

    //------------------------------------------------------------------------- Paragraph
    .Paragraph
      width: 100%
      padding: 0 10px
      width: 100%
      column-count: 1 !important

    //------------------------------------------------------------------------- Taplist
    .Taplist
      width: 100%
      float: none

      font-size: 13px

      thead, tbody
        width: 100%

      thead th
        font-size: 14px

      th, td
        &.brand, &.style
          padding-right: 0
        &.brand
          max-width: 140px
        &.style
          max-width: 80px
        &.right
          padding: 0
        &.price
          padding-left: 5px
          padding-right: 5px

    //------------------------------------------------------------------------- Merchandising
    .Merchandising
      margin: $vertical-spacing 10px

      .items
        flex-direction: column

        .item
          width: 100%
          height: 150px
          margin: 5px 0

    //------------------------------------------------------------------------- Footer
    .Footer
      display: block
      width: 100%
      height: auto

      .Footer-section
        display: block

        > div
          margin: 20px

        &.Footer-social
          display: flex
          margin: 40px 0 20px

          &:last-child
            margin-right: 0

