ACCESS_TOKEN="<FACEBOOK APPLICATION ACCESS TOKEN>"
FB_APP_ID="<CATRAIO PAGE FACEBOOK ID"
MAILGUN_API_TOKEN="<API TOKEN FOR MAILGUN ACCOUNT>"
MAILGUN_DOMAIN="<DOMAIN FOR MAILGUN ACCOUNT>"
EMAIL_RECIPIENT="<EMAIL WHERE CONTACT EMAILS ARE SENT TO>"
UNTAPPD_EMAIL="<EMAIL FOR UNTAPPD FOR BUSINESS API>"
UNTAPPD_READ_TOKEN="<API TOKEN FOR UNTAPPD FOR BUSINESS API>"
UNTAPPD_MENU_ID="<ID FOR THE MENU WE WANT TO GET FROM UNTAPPD>"
