.Admin
  h1
    height: 180px
    width: 100%;
    margin: 70px 0 50px
    background: url("~app-assets/images/logo-black.png") no-repeat center center
    text-indent: -99999px
    text-align: center
