@import "~app-components/variables.styl"

.Footer
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center
  width: $page-width
  height: $footer-height;
  background: $white
  border: 4px solid $yellow;
  bottom: 10px;

  .Footer-section
    position: relative
    width: 25%
    padding: 0 0 0 100px
    background: transparent no-repeat 50px center
    background-size: 35px 35px

  .Footer-schedule
    background-image: url("~app-assets/images/schedule.svg")

  .Footer-location
    background-image: url("~app-assets/images/location.svg")

  .Footer-contacts
    background-image: url("~app-assets/images/contacts.svg")

  .Footer-social
    padding-left: 0

    .icon
      font-size: 24px
      margin-right: 10px

    .icon-tripadvisor
      margin-right: 22px

