@import "~app-components/variables.styl"

$info-margin = 50px

.Footer
  display: flex;
  justify-content: space-between;
  align-items: center
  width: $page-width
  height: $footer-height;
  margin-top: $vertical-spacing
  background: $white
  border: 4px solid $yellow;

  .Footer-section
    background: transparent no-repeat 50px center
    background-size: 35px 35px
    display: flex;
    align-items: center;

    > div
      margin-right: $info-margin

      &:first-child
        margin-left: $info-margin

      font-size: 16px
      padding-left: 45px;
      background-size: 25px;
      background-repeat: no-repeat;
      background-position: left center;

    .Footer-contacts
      background-size: 35px;
      background-image: url("~app-assets/images/contacts.svg")

  .Footer-schedule
    background-image: url("~app-assets/images/schedule.svg")

  .Footer-location
    background-image: url("~app-assets/images/location.svg")

  .Footer-social
    flex-grow: 2;
    justify-content: space-around;

    .icon
      font-size: 25px

    .icon-tripadvisor
      margin-right: 15px

    &:last-child
      margin-right: 50px

