.Beers
  table
    width: 90%;
    margin: 0 auto;
    border: 1px solid;

  tr.sticky
    display: flex;
    justify-content: space-around;
    left: 5%;
    margin: 0 auto;
    position: fixed;
    top: 0;
    width: 90%;

  th
    padding-bottom: 10px;

  h3
    text-align: center;

  td
    padding: 5px;
  ul
    list-style: none;
