@import "~app-components/variables.styl"

@media (max-width: 1209px)
  .Headliner
    white-space: nowrap

.Headliner
  display: flex
  justify-content: space-between

.Headliner-section
  display: flex
  align-items: left
  justify-content: center
  flex-direction: column
  height: 60px
  background: transparent no-repeat 5px
  margin: 0
  font-size: 14px

  &.Headliner-tagline
    text-transform: uppercase
    font-family: 'Roboto Slab', serif
    font-weight: 100
    font-size: 48px
    text-align: center

  &:not(.Headliner-tagline)
    background-size: 25px 25px
    background-position: 10px center
    padding: 0 10px 0 45px
    border: 2px solid $yellow

    > div
      padding: 1px 0

.Headliner-schedule
  background-image: url("~app-assets/images/schedule.svg")

.Headliner-location
  background-image: url("~app-assets/images/location.svg")

.Headliner-contacts
  background-image: url("~app-assets/images/contacts.svg")
