@import "~app-components/variables.styl"

.Intro
  width: 100%
  margin: 0 auto;

  & > div
    margin: 50px auto;

  .Intro-slideshowcontainer
    margin: 0 auto;
    height: 200px;
    width: 800px;

  .Intro-firstevent
    text-align: center;

  .Intro-highlights
    background-color: $yellow;

    & > img
      height: auto;
      vertical-align: top;
      max-width: calc(50% - 25px);

    & > img:first-child
      margin-right: 50px;

  .Intro-photocatraios
    width: 100%
    height: 440px
    background: url("http://placehold.it/1024x440") no-repeat center center
    background-size: cover

