@import "~app-components/variables.styl"

.Intro
  max-width: 80%;
  margin 0 auto;

  & > div
    margin: 50px auto;

  .Intro-slideshowcontainer
    margin: 0 auto;
    height: 200px;
    width: 800px;

  .Intro-firstevent
    text-align: center;

  .Intro-highlights
    background-color: $yellow;

    &>img
      height: auto;
      vertical-align: top;
      max-width: calc(50% - 5px);

    &>img:first-child
      margin-right: 10px;

  .Intro-photocatraios
    &>img
      height: auto;
      max-width: 100%;

  .Intro-quote
    text-align: center;
    font-style: italic;
