@import "~app-components/variables.styl"

.Header
  width: 100%
  margin: 0 auto
  background: $white
  position: relative

  > a
    outline: none

  h1
    height: 180px
    width: 100%;
    margin-bottom: 50px
    background: url("~app-assets/images/logo-black.png") no-repeat center center
    text-indent: -99999px
    text-align: center

  .Header-menu
    width: 100%
    height: $header-height
    line-height: $header-height
    text-align: center
    list-style: none
    padding-left: 0
    color: $black
    background: $yellow

  .Header-menu-item
    display: inline-block
    width: 25%
    font-size: 24px
    font-weight: 300
    text-align: center
    cursor: pointer;

    .desktop
      display: inline
    .mobile
      display: none

    &:hover, &.active
      color: $white;

  .LanguageSelector
    position: absolute
    right: 0
    bottom: ($header-height + 30px)
