// colors
$black = #000
$white = #fff
$yellow = #ffdd15
$grey = #666

// dimensions
$page-width = 100%;

@media (min-width: 1440px)
  $page-width: 1440px

$footer-height = 150px;
$header-height = 50px;
