@import "../variables.styl"

.Footer-schedule
  table
    margin: 0 auto;
    width: 100%;

    td
      padding: 5px;

    .Schedule-weekday
      padding-left: 0;

.Map
  height: 300px;
  width: 300px;
  margin: 5px auto;

.ContactForm
  button
    display: block;
    margin-top: 10px;
    color: $black;
    padding: 5px;

  input, textarea
    display: block;
    padding: 5px;
    width: 300px;

  input
    margin-bottom: 15px;

  textarea
    height: 100px;

  button
    float: right;

  .hide
    display: none;
