.About
  width: 80%;
  margin: 0 auto;

  .About-content
    margin: 0 auto;
    height: 500px;
    max-width: 950px;
    min-width: 650px;
    background: url("../../assets/images/catraio-fachada.jpg") no-repeat center left;
    // box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .About-text
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 40%;
      height: 500px;
      padding: 15px;
      background: rgba(0,0,0,0.5);
      color: white;

      p:not(:first-of-type)
        margin: 10px 0 0;
        padding: 0;

      p:not(:last-of-type)
        margin: 0 0 10px;

      p
        padding: 0;
