.Catraio
  max-width: 80%;
  margin 0 auto;

  & > div
    margin: 50px auto;

  .Catraio-photocatraios
    text-align: center;

    &>img
      height: auto;
      max-width: 100%;

  .Catraio-textcatraio
    column-count: 2; // sweeeeeeeet
    margin: 10px auto 0;

  .Catraio-newsclips
    display: flex;
    justify-content: center;

    &>div>img
      height: auto;
      max-width: 100%;

    &>div:first-child
      margin-right: 10px;

  .Catraio-quote
    font-style: italic;
