@import "../variables.styl"

.Login
  width: 500px;
  margin: 0 auto;

  .Login-error
    text-align: center;
    margin-top: 20px;

  form
    margin: 0 auto;
    text-align: center;

  input:not([type="submit"])
    display: block;
    margin: 0 auto 15px;
    width: 50%;
    padding: 10px;
    border: 1px solid $grey;
    border-radius: 2px;
