@import "../variables.styl"

.Login
  &.hide,
  .hide
    display: none;

  .Login-form
    position: absolute;
    top: 0;
    right: 0;

    form
      display: flex;
      flex-direction: column;
      width: 225px;

      div
        display: flex;
        justify-content: space-between;
        align-items: center;

      input
        width: 125px;

  .LoginForm-showbutton
    color: $black;
    position: absolute;
    bottom: 120px;
    right: 0;

